body {
  background-color: rgba(127, 255, 206, 0.096);
  margin: 0;
}
.header {
  background-color: #fff;
}
.header img {
  font-family: monospace;
  font-weight: 600;
  height: 100px;
  width: 100px;
}
.d-flex {
  display: flex;
}
.col-4 {
  width: 30%;
}
.content li {
  padding: 20px;
}
ul li {
  text-decoration: none;
  list-style: none;
}
li svg {
  height: 20px;
  width: 30px;
}
.item-center {
  align-items: center;
  justify-content: space-around;
}
.logo {
  justify-content: center;
}
